.component {
    width: 18px;
    height: 18px;
    background-size: cover;

    &.dropbox {
        background-image: url("@app/images/dropbox.svg");
    }

    &.slack {
        background-image: url("@app/images/slack.svg");
    }

    &.calendar {
        background-image: url("@app/images/calendar.svg");
    }

    &.pauseCircle {
        background-image: url("@app/images/pause-circle.svg");
    }

    &.playCircle {
        background-image: url("@app/images/play-circle.svg");
    }

    &.share-2 {
        background-image: url("@app/images/share-2.svg");
    }

    &.star {
        background-image: url("@app/images/star.svg");
    }

    &.twitter {
        background-image: url("@app/images/twitter.svg");
    }

    &.user {
        background-image: url("@app/images/user.svg");
    }
}
