@import "@app/theme.less";

.component {
    padding: @grid;
    transition: opacity 2s;
    border-bottom: 1px solid @gray2;
    opacity: 1;

    &.loading {
        opacity: 0;
    }

    &:hover {
        background: @blue2;
    }

    .row {
        display: flex;
        align-items: center;
        .text-m;

        &.small {
            .text-xs;
            color: @gray1;
            text-transform: lowercase;
        }
    }

    .left {
        flex: 1;
    }

    .right {
        text-align: right;
        color: @gray1;
    }

    .icon {
        margin-right: @grid;
    }

    .body {
        margin-top: @grid / 2;
        .text-s;
    }
}
