@import "@app/theme.less";

.component {
    height: @grid * 6;
    width: 100%;
    position: relative;
    box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.56);
    display: flex;

    &.pinned {
        position: fixed;
        top: 0;
        left: 0;
    }

    input {
        width: 100%;
        height: 100%;
        border: 0;
        padding: @grid * 2;
        flex: 1;
        .text-m;
    }
}
