@import "@app/theme.less";

.component {
    background: @blue1;
    color: @white;
    text-transform: uppercase;
    padding: @grid (@grid * 2);
    border-radius: @grid / 2;
    border: 1px solid @white;
    cursor: pointer;
    .text-m;

    &:hover {
        background: @white;
        border: 2px solid @blue1;
        color: @blue1;
    }
}
