/* Colors */
@green: #bada55;
@gray1: #777;
@gray2: #f1f1f1;
@blue1: #0951a3;
@blue2: #dcecff;
@white: #fff;

/* Typography */
@fontSize-xxl: 28px;
@fontSize-xl: 21px;
@fontSize-l: 17px;
@fontSize-m: 14px;
@fontSize-s: 12px;
@fontSize-xs: 10px;

.text-l {
    font-size: @fontSize-l;
}

.text-m {
    font-size: @fontSize-m;
}

.text-s {
    font-size: @fontSize-s;
}

.text-xs {
    font-size: @fontSize-xs;
}

/* Layout, spacing */
@grid: 8px;
