@import "@app/theme.less";

.component {
    @media (max-width: 800px) {
        width: 85%;
    }

    @media (min-width: 1440px) {
        width: 40%;
    }

    width: 60%;
    margin: (@grid * 8) auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
        color: @gray1;
        .text-l;
    }

    .searchBar {
        margin: (@grid * 4) 0;
    }
}
