@import "@app/theme.less";

.component {
    background: transparent;
    min-width: 350px;
    margin-right: @grid * 4;
}

.header {
    display: flex;
    align-items: center;
    background: @gray2;
    padding: @grid;
    .text-s;

    .count {
        flex: 1;
        text-align: right;
        color: @gray1;
    }
}

.icon {
    margin-right: @grid;
}
